.env
*.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info
*.egg
*.whl
*.tar.gz
*.zip
*.db
*.sqlite3
*.log
*.csv
*.json
*.xml
*.yaml
*.yml
*.pickle
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
*.pb

.qodo
codex*
rag_sdk*
*.codex
*codex*
.eev

/static/
.pytest_cache/
.vscode/